<ion-view view-title="Home">
  <!-- <img class='title-image' src='main/assets/images/icon.jpg'/> -->
  <ion-content>
    <!-- content goes here -->
    <div class="row">
      <h1 class="empty-state-h1"> Where are you going today? <h1>
    </div>
    <div class="row">
      <ul class="list">
        <li ng-click="changeState()" class="item item-image">
            <img class="area-img" src="./main/assets/images/nearme.jpg">
            <span class="area-text">NEAR ME</span>
        </li>
        <li ng-click="changeState()" class="item item-image">
          <img class="area-img" src="./main/assets/images/ubud.jpg">
          <span class="area-text">UBUD</span>
        <li ng-click="changeState()" class="item item-image">
          <img class="area-img" src="./main/assets/images/canggu.jpg">
          <span class="area-text">CANGGU</span>
        </li>
      </ul>
  </ion-content>
</ion-view>
